@font-face {
    font-family: ZenDots;
    src: url('../fonts/ZenDots-Regular.ttf');
  }

@media screen and (max-width: 700px) {
    .table-width{
        width: 100% !important;
    }
    .bigimg{
        display: none;
    }
    .index-side-width{
        width: 5px;
    }
    .banner {
        background-position-y: -2px !important;
        background-size: 440px !important;
    }
    #nav {
        padding: 9px !important;
    }

    .menu-padding{
        padding: 6px 0px 6px 0px;
    }

    .navbar-padding{
        padding: 16px 8px 16px 8px;
    }

    p{
        font-size: 1.3em;
    }

    .about-about{
        display: block;
    width: 100%;
    height: 540px;
    }
    .about-text{
        display: block;
        padding-top: 0;
        margin-top: 8px;
        position: absolute;
        top: 285px;
    }
}

.table-width{
    width: 800px;
}

.background{
    background-color: #2F3D53;
    background-image: url(../img/wf_bg.png);
    background-position-x: center;
}

.background-characters{
    background-color: #2F3D53;
    background-image: url(../img/sketches5.png);
    background-position-x: center;
}

.banner{
    background-image: url(../img/sleep.png);
    background-repeat: no-repeat;
    background-position-y: -20px;
    background-position-x: center;
    background-size: 500px;
}

.titleFont{
    font-family: 'ZenDots', cursive; font-weight: 100;
}

body{
    font-size: 13px;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
}


a{
    cursor: pointer;
    color: rgb(255, 150, 33);
    text-decoration: none;
    font-weight: bold;
}
a:active{
    color: rgb(234, 255, 0);
}

.not-wip{
    border: solid 1px #5cff01;
}
.wip{
    border: solid 1px #ffba00;
}

.current + tr td{
    background: rgb(141, 104, 77) !important;
    border: 1px solid #ff9621;
    
}
.current + tr td::before {
    background: #ff9621;
    color: rgb(155, 0, 6);
    font-weight: bold;
    content: "Latest Update ";
    padding: 2px;
    position: relative;
    left: -3px;
    top: -3px;
    display: block;
    width: 106px;
    border-bottom-right-radius: 9px;

}

#nav{
    background-color: rgb(155, 0, 6);
    border: solid 1px rgb(195, 128, 0);
    padding:4px;
    font-family: ZenDots;
    letter-spacing: 0.088em;
    
}

#navBreadcrumb{
    font-family: ZenDots;
    letter-spacing: 0.088em;
}

#navactive{
    background-color: rgb(120, 168, 213);
    border: solid 1px rgb(255, 191, 47);
    padding:4px;
    color: #fffc03;
    
}

#bkgc{
    
    background-color: rgb(92, 111, 130);
    border: solid 1px black;
    


}

#cel{
    background-color: rgb(77, 95, 114);
}



#wip{
    background-color: rgb(221 167 20);;
}

.bigimg {
    position: relative;
    top: 58px;
    right: 49px;
    transform: scale(2.7);
    -ms-transform: scale(2.7);
    -webkit-transform: scale(2.7);
    z-index: 1;
}

h1{
    text-indent: 10px;
}

.preview_img{
    height: 500px;
}

.preview_title{
    color: #ffaa00;
}

.boxWidth{
    max-width: 800px;
}

.aboutBg{
    background-image: url('../img/eric_drawing_bg.png');
    background-size: 370px;
    background-repeat: no-repeat;
    background-position: -91px -60px;
}
