

@font-face {
    font-family: ZenDots;
    src: url('../fonts/ZenDots-Regular.ttf');
}



@media screen and (max-width:940px){
    .bigimg{ 
        right: -9px !important;
    }
}

@media screen and (max-width:825px) {
    .home-banner-ad {
        margin-top: 0px !important;
    }
    .table-width {
        width: 100% !important;
    }
    body {
        margin: 0;
    }
    .bigimg {
        top: 20px !important;
        right: -31px !important;
        transform: scale(2.0) !important;
        -ms-transform: scale(2.0) !important;
        -webkit-transform: scale(2.0) !important;
    }
}


/* -------- Global -------- */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}


.table-width {
    width: 800px;
}

.background {
    background-color: #2F3D53;
    background-image: url(../img/wf_bg.png);
    background-position-x: center;
}

.background-characters {
    background-color: #2F3D53;
    background-image: url(../img/sketches5.png);
    background-position-x: center;
}

.banner {
    background-image: url(../img/sleep.png);
    background-repeat: no-repeat;
    background-position-y: -20px;
    background-position-x: center;
    background-size: 500px;
}

.titleFont {
    font-family: 'ZenDots', cursive !important;
    font-weight: 100;
}

body {
    font-size: 13px;
}


h1 {
    text-indent: 10px;
}

a {
    cursor: pointer;
    color: #ff9621;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ffcf21;
}

a:active {
    color: #eaff00;
}

a span {
    color: inherit;
    position: relative;
    bottom: 6px;
}

.furaffinity::after {
    content: " (18+)";
    font-size: 9px;
    color: white;
    font-weight: 100;
    position: relative;
    bottom: 7px;
}

#nav {
    background-color: #9b0006;
    border: solid 1px #c38000;
    padding: 4px;
    font-family: ZenDots;
    letter-spacing: 0.088em;
}

#navBreadcrumb {
    font-family: ZenDots;
    letter-spacing: 0.088em;
}

#navactive {
    background-color: #78a8d5;
    border: solid 1px #ffbf2f;
    padding: 4px;
    color: #fffc03;
}

#bkgc {
    background-color: #5c6f82;
    border: solid 1px black;
}

.cel {
    background-color: #4d5f72 !important ;
}

.links-flex{
    z-index: 2;
    position: relative;
}

#wip {
    background-color: #dda714;
    padding: 5px;
    background-image: url(../img/warning.png);
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: 0px 1px;
    text-indent: 23px;
}

/* ---------------- */





/* -------- Home -------- */

.bigimg {
    position: relative;
    top: 75px;
    right: 51px;
    transform: scale(2.9);
    -ms-transform: scale(2.9);
    -webkit-transform: scale(3);
    z-index: 1;

    
}

.lastUpdate{
    font-style: italic; 
    font-size: 11px; 
    width: 100%; 
    max-width: 530px; 
    margin-left: auto; 
    text-align: right;
}

.randomCharContainer{
    height: 36px;
    width: 140px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.randomCharImage{
    background-size: 145px;
    background-position: -1px -68px;
    width: 100%;
    height: 100%;
}
.randomCharContainer:hover .randomCharGradient{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(76, 94, 112), rgba(76, 94, 112, 0.5) 64px);
    background: linear-gradient(90deg, hsl(211, 19%, 37%), hsla(211, 19%, 37%, 89%), hsla(210, 19%, 37%, 63%), hsla(210, 19%, 37%, 50%) 64px);
}

.randomCharContainer .randomCharGradient{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(76, 94, 112), transparent 64px );
    background: linear-gradient(90deg, hsl(211, 19%, 37%), hsla(210, 19%, 37%, 74%), hsla(210, 19%, 37%, 52%), hsla(211, 19%, 37%, 0%) 64px);
}


.home-banner-ad {
    margin-top: 105px;
    height: 92px;
    max-height: 310px;
    border-collapse: collapse;
}

table.menu-padding {
    position: relative;
    z-index: 5;
}


/* ---------------- */



/* -------- About -------- */

.about-img-flex {
    width: 200px;
    text-align: center;
}

.aboutBg {
    background-image: url('../img/eric_drawing_bg.png');
    background-size: 370px;
    background-repeat: no-repeat;
    background-position: -91px -60px;
}

/* ---------------- */



/* -------- Characters -------- */

.not-wip {
    border: solid 1px #000000;
}

.wip {
    border: solid 1px #ffba00;
}

.character-container{
    text-align: center; 
    max-width: 800px;
    width: inherit;
    
}
.character-element {
    display: inline-block;
    margin: 5px;
}

.character-element img{
    width: 100px;
}

/* ---------------- */




/* -------- Character page -------- */
.char-img-bg{
    background: linear-gradient(-25deg,rgba(255,255,255,1) 0%,rgba(77,95,114,0) 50%);
    text-align: right;
    border-radius: 10px;

}

.char-img{
    max-width: 340px;
    max-height: 400px;
}

.not-final {
    position: relative;
}

.not-final::after {
    content: "Artwork not final";
    position: absolute;
    bottom: -8px;
    left: 25px;
    width: 130px;
    background: #ffba00;
    padding: 1px;
    border-radius: 50px;
    border: solid 1px #9b0006;
    color: #9b0006;
    font-weight: bold;
}

.accessories-container{
    text-align: center;
}
.accessories-item{
    text-align:center; display:inline-block; margin: 6px;
}
.accessories-item img{
    width: 68px;
}
.accessories-item span{
    font-size: 11px;
}

/* ---------------- */




/* -------- Art -------- */

.art-header {
    vertical-align: top;
    height: 248px;
    background-image: url(../img/Art_bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.art-header .titleFont {
    text-shadow: 2px 2px 3px black, -2px -2px 3px black, -2px 2px 3px black, 2px -2px 3px black;
}

.art-header-gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, #5c6f8200 0%, #5c6f8278 28%, #5c6f82de 58%, #5c6f82 89%, #5c6f82 100%);
    left: 0;
}

.art-section {
    padding: 13px;
    max-width: 400px;
    margin: auto;
}

.art-section-img-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

/*
.art-legend {
    background: #000000e0;
    height: 0px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    transition: all 0.2s ease-out;
}

.art-legend-small {
    background: #00000082;
    height: 12px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    line-height: 9px;
    transition: all 0.3s cubic-bezier(.48, -0.01, .97, .43);
}



.art-legend .title {
    font-size: 16px;
    padding-left: 6px;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.art-legend .date {
    font-size: 10px;
    font-style: italic;
    padding-left: 13px;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.art-legend-small .title {
    font-size: 9px;
    padding: 3px;
}

.art-legend-links {
    position: absolute;
    right: 45px;
    top: 8px;
    width: 80px;
}

.art-section-img-container:hover .art-legend .title,
.art-section-img-container:hover .art-legend .date {
    opacity: 1;
    transition: all 0.2s ease-out;
}

.art-section-img-container:hover .art-legend,
.art-section-img-container a:focus+.art-legend {
    height: 40px;
    transition: all 0.2s ease-out;
}

.art-section-img-container:hover .art-legend-small,
.art-section-img-container a:focus+.art-legend+.art-legend-small {
    height: 0px;
    transition: all 0.1s ease-out;
}*/
.art-img {
    width: 100%;
    margin-bottom: -3px;
}
.art-legend{
    background: rgba(0, 0, 0, 0.51);
    height: 12px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    transition: all 0.2s ease-out, line-height 0.1s cubic-bezier(0.22, 1.16, 0.63, 0.84);
    padding-left: 5px;
    padding-right: 5px;
    line-height: 11px;
}

.art-legend .title{
    font-size: 9px;
    transition: all 0.2s ease-out;
}

.art-legend .date{
    font-style: italic;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0, 0.25, 0.66, 0.91);
    font-size: 10px;
    padding-left: 13px;
}

.art-legend .desc{
    opacity: 0;
    transition: all 0.2s ease-out;
    font-size: 15px;
    width: 98%;
    margin: auto;
}

.art-legend-card-bottom{
    opacity: 0;
    transition: all 0.2s ease-out;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 100%;
    height: 20px;
    text-align: center;
    width: 80px;
}




.art-section-img-container:hover .art-legend{
    background: rgba(0, 0, 0, 0.878);
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    transition: all 0.2s ease-out, line-height 0s ease-in;
    line-height: 17px;
    padding-top: 3px;
}

.art-section-img-container:hover .art-legend .title{
    font-size: 18px;
    transition: all 0.2s ease-out;
    padding: 3px;
}

.art-section-img-container:hover .art-legend .date, .art-section-img-container:hover .art-legend:hover .desc{
    opacity: 1;
    transition: all 0.2s cubic-bezier(0.85, -0.08, 0.4, 1.04);
}


/*.art-section-img-container:hover .art-legend:hover{

    height: 200px;
    transition: all 0.4s ease-out;

}*/


.art-section-img-container:hover .art-legend .art-legend-card-bottom{
    opacity: 1;
    transition: all 0.2s ease-out;
}

.art-links {
    width: 110px;
    text-align: center;
    display: inline-block;
}

.art-links-container {
    display: flex;
    justify-content: center;
}

.art-links a::after {
    position: revert;
}

.art-advice-d {
    display: initial;
}

.art-advice-m {
    display: none;
}

/* ---------------- */



/* -------- Updates -------- */

.current+tr td.cel {
    background: linear-gradient(90deg, rgb(177 118 75) 40px, transparent 300px);
    background: -moz-linear-gradient(left, rgba(177,118,75,1) 40px, rgba(0,0,0,0) 300px); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(177,118,75,1) 40px,rgba(0,0,0,0) 300px); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(177,118,75,1) 40px,rgba(0,0,0,0) 300px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-left: 2px solid #ff9621;
    position: relative;
}

.current+tr td::before {
    background: #ff9621;
    color: #9b0006;
    font-weight: bold;
    content: "Latest Update ";
    padding: 2px;
    position: relative;
    left: -5px;
    top: -11px;
    display: block;
    width: 106px;
    border-radius: 5px 5px 5px 0px;
}

/* ---------------- */




/* -------- 404 -------- */

.nothing-top-space {
    padding-bottom: 17vh;
}

.nothing {
    background: radial-gradient(ellipse at center, #777777 0%, #ffffff00 70%, #ffffff00 100%);
    text-align: center;
    padding: 115px;
}

/* ---------------- */



/* -------- Hit counter -------- */

.count-display{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    
}
.count-display a + br + small{
    display: inline;
    margin: auto;
    text-align: center;
    width: 100%;
    opacity: 0;
    margin-top: -10px;
    transition: all 0.2s ease-in-out;
    z-index: -1;
    position: relative;
    bottom: 10px;
}

.count-display a:hover + br + small{
    opacity: 1;
    margin-top: 0px;
    transition: all 0.2s ease-in-out;
    bottom:0;
}

/* ---------------- */





.preview_img {
    height: 500px;
}

.preview_title {
    color: #ffaa00;
}

.boxWidth {
    max-width: 800px;
}


