a {
    color: #ff2121;
}

a:active {
    color: #ababab;
}

#bkgc {
    background-color: #191919;
    border: solid 1px black;
}
.cel {
    background-color: #2d2d2d !important;
}

#nav {
    background-color: #020202;
    border: solid 1px #797979;
}

.background, .background-characters {
    background-color: #060606;
}

.aboutBg, .about-text{
    background-color: #585858;
}

.art-header-gradient {

    background: linear-gradient(to bottom, #5c6f8200 0%, #1919196e 28%, #191919d9 58%, #191919 89%, #191919 100%);

}