@font-face {
    font-family: Courgette;
    src: url('../../fonts/Courgette-Regular.ttf');
}

.titleFont, #nav{
    font-family: 'Courgette', cursive !important;
    letter-spacing: 0.08em;
}

a {
    color: #dce466;
}

a:hover {
    color: #f3ff44;
}

a:active {
    color: #ffc800;;
}

#bkgc {
    background-color: #688c3e;
    border: solid 1px #caa445;
}
.cel {
    background-color: #6d9e3c !important;
}

#nav {
    background-color: #98710f;
    border: solid 1px #ffd007;
}

.background, .background-characters {
    background-color: #587339;
}

.art-header-gradient {
    background: linear-gradient(to bottom, #5c6f8200 0%, #638a5e70 28%, #638a5ee0 58%, #638a5e 89%, #638a5e 100%);

}